#contactus {
  position: fixed;
}
.ftco_footer {
  font-size: 16px;
  padding: 1em 0;
  background: #120f0f;
  display: block;
  box-sizing: border-box;
}

.ftco_section {
  position: relative;
}

.h2 {
  color: #7ed321;
  font-weight: normal;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.block_23 {
  padding: 0;
}

.icons {
  color: #ffffff;
  /* margin: 5px; */
  margin-right: 10px;
  margin-top: 5px;
  vertical-align: top;
}

.icons_lower {
  color: #ffffff;
  /* margin: 5px; */
  margin-right: 25px;
  margin-top: 5px;
  vertical-align: top;
  width: 35px;
  height: auto;
}

.text {
  display: table-cell;
  vertical-align: top;
  color: #ffffff;
  font-size: 16px;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.ftco_foote_social {
  padding-left: none;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.UL {
  margin-top: 0;
  margin-top: 1rem;
}

.mb_4 {
  margin-bottom: 1.5rem !important;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  /* margin-right: -15px; */
  overflow-x: hidden;
}

.col_lg_6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 30px;
}

.col_md_6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 25px;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.gmap {
  width: 400px;
  height: 400px;
}

@media (min-width: 768px) {
  .col_md_6 {
    flex: 0 0 50%;
    max-width: 40%;
    margin-left: 50px;
  }

  .mb_md_5 {
    margin-bottom: 3 rem !important;
  }

  .row {
    margin-left: 25px;
  }

  /* .text{
        font-size: 18px;
    } */

  .gmap {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 450px) {
  .gmap {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 280px) {
  .gmap {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 992px) {
  .row {
    margin-left: 100px;
  }
  .gmap {
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 1120px) {
  .gmap {
    width: 500px;
    width: 500px;
  }
}
